<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>JobBoard</h1>
    <ul>
      <li>@Model.GetJobTitle()</li>
    </ul>
  </body>
</html>
