<h1>Job Posting Details: </h1>

<h2>@Model.GetJobTitle()</h2>
<p>@Model.GetDescription()</p>
<p>@Model.GetContactInfo()</p>

<p><a href='/jobpostings/new'>Add another job posting</a></p>
<p><a href='/jobpostings'>View all job postings</a></p>